* {
    padding: 0;
    margin: 0;
    color: white;
    
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: 
      linear-gradient(rgba(24, 18, 44, 0.65), rgba(24, 18, 44, 0.65)),
      url(/src/assets/img/background-home.png);
    min-height: 100vh;
    background-color: var(--primary-color);
    
}

header {
    padding: 30px;
    height: 10px;
    color: var(--color-text);
    font-weight: 24px;
}

main { 
    height: 500px;
    margin-top: 50px;
}

.hero {
    padding-top: 50px;
    height: 450px;
    padding: 20px 0;
    margin-top: 50px;
    color: var(--color-text);
    text-align: center;
    justify-content: center; 
}

.hero h1 {
    font-size: 70px;
    line-height: 110px;
}

.hero h2 {
    font-size: 50px;
    line-height: 110px;
}

.hero p {
    font-size: 30px;
}

.hero a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    border: 1.5px solid blue;
    color: white;
    background-color: #4845D2;
    line-height: 130px;
    padding: 10px;
    
}

.devconnect {
    color: #4845D2;

}

.all__domains {
    margin-bottom: 10px;
    align-self: flex-end;
    justify-self: flex-end;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
}

.all__domains p {
    color: #4845D2;
    font-weight: bold;
}

.footer {
  background-color: #121212;
  font-size: 20px;
  padding: 30px;
  align-content: center;
  margin-top: 90px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
}

.footer__top__left {
    line-height: 35px;
}

.location {
    line-height: 35px;
}

hr {
    
    margin-top: 10px;
}

.footer__bottom {
    line-height: 30px;
    margin-top: 20px;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

/* responsive */

/* tablette */
@media (min-width:600px) and (max-width:1024px) {
    
    header {
        background-color: white;
        color: #121212;
    }

    body {
        background-size: cover;
        background-position: 90% center;
        background-repeat: no-repeat;
    }

    .hero {
    padding-top: 50px;
    height: 800px;
    padding: 30px 0;
    margin-top: 50px;
    color: var(--color-text);
    text-align: center;
    justify-content: center; 
    align-content: center;
    }

    .hero h1 {
        font-size: 70px;
        line-height: 100px;
    }

    .hero h2 {
        font-size: 40px;
        line-height: 110px;
    }

    .hero p {
        font-size: 25px;
    }

    main {
        height: 900px;
        margin-top: 50px;
    }

    .hero a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        border-radius: 15px;
        border: 1.5px solid blue;
        color: white;
        background-color: #4845D2;
        line-height: 150px;
        padding: 10px;
        
    }

    .all__domains {
        display: flex;
        flex-direction: column;
    }
}

/* téléphone */

@media (min-width: 350px) and (max-width:700px){
     header {
        background-color: white;
        color: #121212;
    }

     body {
        background-size: cover;
        background-position: 75% center;
        background-repeat: no-repeat;
    }

    .hero {
    padding-top: 50px;
    height: 700px;
    padding: 30px 0;
    margin-top: 50px;
    color: var(--color-text);
    text-align: center;
    justify-content: center; 
    align-content: center;
    }

    .hero h1 {
        font-size: 30px;
        line-height: 50px;
    }

    .hero h2 {
        font-size: 20px;
        line-height: 110px;
    }

    .hero p {
        font-size: 10px;
    }

    main {
        height: 900px;
        margin-top: 50px;
    }

    .hero a {
        text-decoration: none;
        color: white;
        font-size: 25px;
        border-radius: 15px;
        border: 1.5px solid blue;
        color: white;
        background-color: #4845D2;
        line-height: 150px;
        padding: 10px;
        
    }

    .all__domains {
        display: flex;
        flex-direction: column;
    }

    .footer {
        font-size: 15px;
        text-align: center;
        line-height: 10px;
    }
}